.center {
    border: 5px solid #FFFF00;
    text-align: center;
    }

.box{
    height: 110px;
    width: 110px;
    background-color: aqua;
    padding: 20px;
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.box:hover{
    background-color: green;
    font-size: larger;
    color: blue;
    font-size: 10px;
}
.box:active{
    background-color:red;
    
}


div{
    font-style: italic;
}
input:focus{
    width: 200px;
    height: 200px;
    font-size: 40pt;
}
